// app global css in SCSS form

@import 'quasar.classes';
@import 'animations';
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --outer-width: 0;
  --page-height: 0;
}

body {
  height: 100%;
}

//.search-drawer {
//  .q-field__append {
//    padding-left: 0;
//  }
//}

//.bg-blocks {
//  position: fixed;
//  top: 0;
//  left: 0;
//
//  .bg-block {
//    width: 8vh;
//    height: 8vh;
//    margin-left: 0.5vh;
//    margin-bottom: 0.5vh;
//    border-radius: 0.5vh;
//  }
//}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #efefef;
  z-index: 10;
}

.footer {
  position: fixed;
  width: 100%;
  background-color: #efefef;
  z-index: 10;
}

.bg-img {
  position: fixed;
  width: 120vw;
}

.content {
  left: 0;
  width: 100%;
  height: 100%;
  //background-color: $grey-9;

  .card hr { opacity: 0.4; color: $primary }

  .love-btn  {
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0.7;
    z-index: 1;
  }

  .car-info {

    .name {
      font-size: 14pt;
      vertical-align: 10px;
      font-family: 'Noto Sans KR', sans-serif;
      font-style: italic;
    }

    .certificate {
      overflow: hidden;
      text-overflow: ellipsis;

      span {
        color: $grey-8;
        font-family: 'Noto Sans KR', sans-serif;
      }
    }
  }

  .carlist {
    .card {
      width: 22em;
      height: auto;
      border-radius: 15px;
      border: solid 1px $grey-5;
      transition: all .2s cubic-bezier(0.45, 0, 0.55, 1), box-shadow 0.3s cubic-bezier(0.45, 0, 0.55, 1);
      transform: scale(1) translate(0, 0);

      &:hover {
        transform: scale(1.02) translate(0, -20px);
        box-shadow: 0 5px 15px rgba(0,0,0,0.3) !important;
      }

      .card-img {
        width: 100%;

        .pre-carousel {
          width: inherit;
          top: 0;
          left: 0;

          .card-carousel {
            border-radius: 15px 15px 0 0;
            height: 13em;

            .q-carousel__control {
              position: absolute;
              bottom: 0;
            }
          }
        }
      }

      .car-info {

        .info-list {
          .q-list {
            .info-block {
              @include info-button(
                $width: auto,
              );

              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              padding: 0.1em 0.5em 0.1em 0;
              font-family: 'Noto Sans KR', sans-serif;

              .q-icon {
                margin-bottom: 0.2em;
              }
            }
          }
        }
      }
    }
  }

  .card-price {
    width: 100%;
    bottom: 10px;
    justify-items: end;
    line-height: 25px;

    .main-price {
      font-size: 18pt;
    }

    .month-price {
      color: $grey-8
    }
  }
}

//=====================  Страница с машной  ====================

.page-car {
  width: 100%;
  height: 100%;
  background-color: $grey-5;

  .car-content {
    background-color: $grey-3;
    div {
      border: none;
    }

    .info-header {
      width: 100%;
      height: 50px;
    }

    .main-info {
      background-color: white;

      .div-hr-top {
        position: absolute;
        top: 85px;
        height: 5px;
        opacity: 0.5;
        z-index: 3;
      }

      .div-hr-bottom {
        position: absolute;
        top: 470px;
        width: 950px;
        height: 5px;
        opacity: 0.7;
        z-index: 3;
      }

      .pre-carousel {
        max-height: 40vh;
        div {
          border: none;
        }
        .q-carousel {
          width: 35em;
          max-width: 90vw;
          height: auto;
          .q-panel {
            height: 24em;
            width: 35em;
            max-width: 90vw;
            max-height: 32vh;
            border-radius: 15px !important;
          }
          .q-carousel__slides-container{
            height: auto;
          }
          .q-carousel__navigation--thumbnails {
            position: initial;
          }
        }

        .mini-carousel {
          .q-carousel{
            height: 20px !important;
            .q-carousel__slides-container{
              max-height: 2em;
            }
          }
        }

        .information {
          padding-left: 10px;
          background-color: white;
          width: 30em;
          height: auto;
          z-index: 1;

          .badge {
            font-size: 24pt;
            font-weight: bold;
            margin-top: 50px;
          }

          .price {
            font-size: 16pt;
            line-height: 20px;
          }

          .month-price {
            font-size: 10pt;
            color: $grey-8
          }


          .info-car {
            .info-block {
              @include info-button(
                $width: none,
              );

              font-family: 'Noto Sans KR', sans-serif;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              padding: 0.1em 0.5em 0.1em;
              text-align: center;


              .q-icon {
                margin-bottom: 0.2em;
              }
            }
          }
        }
      }

      .class-car {
        padding: 1em 0;

        .info-block {
          @include info-button(
            $width: none,
          );

          font-family: 'Noto Sans KR', sans-serif;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding: 0.3em 1em;
          text-align: center;

          .q-icon {
            margin-bottom: 0.2em;
          }
        }
      }
    }

    .more-info {
      width: 950px;

      .info-block {
        width: 100%;
        height: 14em;
        background-color: rgba($primary, 0.1);

        .q-list {
          height: 12em;
          background-color: white;

          .info-label {
            transition: background-color 1000ms linear;
            background-color: white;
            height: 2em;
            padding-left: 10px;

            &:hover {
              background-color: rgba($primary, 0.3);
              transition: background-color 100ms linear;
            }
          }

          span {
            font-size: 10pt;
          }
        }
      }
    }
  }
}



















.button {
  border-radius: 1em;
  transition: all .7s ease-out;
  transform: scale(1);

  &:hover {
    transition: all .7s ease-out;
    transform: scale(1.1);
  }
}

.carousel{
  height: 100%;
  border: solid 3px $dark;
  border-radius: 35px;
}
.section {
  margin-bottom: 5px;
}
.firstcarinformation {
  border-top: solid 3px $dark;
}
.CarInformation {
  font-size: 20px;
  font-weight: bold;
}
.last-car-information {
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;
}



.filter{
  border-radius: 10px;
  border: solid darkgrey 1px;
}

.poligon {
  position: absolute;
  z-index: 1;
  top: 16px;
  right: 39px;
  height: 32px;
  width: 100px;
  clip-path: polygon(25% 0%,
                     50% 0,
                     25% 100%,
                     0% 100%);
}
.poligon:nth-child(3){
  z-index: 1;
  top: 16px;
  right: 15px;
  height: 32px;
  width: 100px;
  clip-path: polygon(25% 0%,
                     50% 0,
                     25% 100%,
                     0% 100%);
}
.poligon:nth-child(4) {
  z-index: 1;
  top: 16px;
  right: 16px;
  height: 32px;
  width: 100px;
  clip-path: polygon(50% 0%,
                     100% 0%,
                     100% 100%,
                     0% 200%);
}

.dark {
  background: #A54657;
}

.equipment {
  font-size: 20px;
  font-weight: bold;
}

.tooltip {
  width: 20%;
}

.information {
  width: 25em;
  height: 42%;
}
